*{
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.header{
	width:100%;
	height:40px;
	background:-webkit-linear-gradient(#e5e3de,#b1afab 90%,#e5e3de);
	background:-moz-linear-gradient(#e5e3de,#b1afab 90%,#e5e3de);
	background:linear-gradient(#e5e3de,#b1afab 90%,#e5e3de);
	border-radius:10px 10px 0 0;
 }
 .mulu{
 	width:800px;
 	height:40px;
 	float:left;
 }
.mulu ul{
	list-style:none;
	display:flex;
}
.mulu ul li{
	flex:1;
	color:#fff;
	font-size:15px;
	line-height: 40px;
	text-align: center;
    margin-right:10px;
}
.mulu ul li a{
	color:#fff;
	text-decoration:none;
}
.mulu ul li a:hover{
	color:#550202;
}
.show{
	width:400px;
	height:40px;
	float:left;
}
.content{
	width:100%;
	box-sizing:border-box;
}
/*底部*/
.footer{
	width:1200px;
	height:80px;
	margin:0px auto;
	background:-webkit-linear-gradient(#000,#2f2f2f 20%);
	background:-moz-linear-gradient(#000,#2f2f2f 20%);
	background:linear-gradient(#000,#2f2f2f 20%);
	text-align:center;
}
.h1{
	width:100%;
	height:40px;
	background:linear-gradient(#ccc,#cfcfcf 40%,#ccc 90%);
	background:-moz-linear-gradient(#ccc,#cfcfcf 40%,#ccc 90%);
	background:-webkit-linear-gradient(#ccc,#cfcfcf 40%,#ccc 90%);
	font-size: 15px;
	line-height:40px;
}
